@model ERPSystem.Models.OrderHeader

@using (Html.BeginForm("AddUpdateOrder", "Orders", FormMethod.Post))
{
    
    
    <div class="modal-footer" style="margin-left: -1rem; margin-right: -1rem;">
        <button type="submit" class="btn btn-outline-primary">Submit</button>
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
    </div>
}
