@model ERPSystem.Models.OrderItem
@using HtmlHelpers.BeginCollectionItemCore;
@{
    var existingMaterials = ViewData["ExistingMaterials"] as MaterialCollection;
    var materialsList = existingMaterials != null ? existingMaterials.Select(material => new SelectListItem()
    {
        Value = material.MaterialNo, Text = material.MaterialNo + " (" + material.MaterialType + ")"
    }).ToList() : new List<SelectListItem>();
}
<tr class="editorRow">
    @using (Html.BeginCollectionItem("Items"))
    {
        <td>
            @Html.DropDownListFor(x => x.MaterialNo, materialsList, new {@class = "form-control"})
        </td>
        <td>
            @Html.TextBoxFor(x => x.TargetQuantity, new {@class="form-control", type="number"})
        </td>
        <td>
             <span data-toggle="tooltip" title="Delete current item">
                <button class="btn btn-outline-danger deleteRow">
                    <i class="fas fa-ban"></i>
                </button>
            </span>
        </td>
    }    
</tr>